.hapai-friday {
	.conditions-promotion {
		.inner {
			border: 1px solid rgb(229, 229, 229);
			border-radius: 12px;
			padding: 10px 50px 30px 50px;
			@media only screen and (max-width: 767px) {
				padding: 0 25px 20px 25px;
			}
		}
	}
	.choice-car__main {
		background: #000 url(../img/hapai-page-friday/top-bg-down.jpeg) no-repeat center;
		background-size: cover;
		padding: 20px 32px 15px 32px;
		min-height: 565px;
		@media only screen and (max-width: 1279px) {
			min-height: 470px;
		}
		@media only screen and (max-width: 767px) {
			min-height: 340px;
			padding: 100px 10px 60px 10px;
		}
		@media only screen and (max-width: 479px) {
			background: unset;
			padding: 0;
		}
	}
	.choice-car .choice-car__content {
		justify-content: center;
		.choice-car__info {
			margin-right: 0;
			margin: 0 auto;
			max-width: 890px;
			@media only screen and (max-width: 1279px) {
				max-width: 640px;
			}
			@media only screen and (max-width: 767px) {
				max-width: 480px;
			}
			.img-wrap {
				img {
					&.mob {
						display: none;
					}
					@media only screen and (max-width: 479px) {
						&.desk {
							display: none;
						}
						&.mob {
							display: block;
						}
					}
				}
			}
		}
	}
	.main-goal {
		padding: 132px 0 144px 0;
		@media only screen and (max-width: 1279px) {
			padding: 90px 0 110px 0;
		}
		@media only screen and (max-width: 767px) {
			padding: 60px 0 60px 0;
		}
		.container {
			position: relative;
			&::before {
				content: "";
				background: url(../img/hapai-page-friday/spiral-1.png) no-repeat center;
				background-size: contain;
				display: block;
				position: absolute;
				right: -510px;
				top: -370px;
				width: 900px;
				height: 900px;
				z-index: -1;
				@media only screen and (max-width: 1279px) {
					right: -65%;
				}
				@media only screen and (max-width: 991px) {
					content: unset;
				}
			}
		}
		.title {
			font-size: 64px;
			line-height: 77px;
			display: flex;
			flex-direction: column;
			text-align: center;
			@media only screen and (max-width: 767px) {
				font-size: 42px;
				line-height: 46px;
			}
			@media only screen and (max-width: 639px) {
				font-size: 36px;
				line-height: 44px;
			}
			span {
				font-weight: 700;
				&.uppercase {
					text-transform: uppercase;
					font-weight: 500;
				}
			}
		}
	}
	.ten-implants {
		.ten-implants--main {
			background: #000 url(../img/hapai-page-friday/image-364.jpeg) no-repeat center;
			background-size: cover;
			padding: 335px 65px 65px 65px;
			border-radius: 30px;
			position: relative;
			overflow: hidden;
			box-shadow: 0px 0px 100px -30px rgb(78, 79, 141);
			@media only screen and (max-width: 1279px) {
				padding: 305px 45px 45px 45px;
				background-size: 120%;
				background-position: left;
			}
			@media only screen and (max-width: 991px) {
				background: linear-gradient(180deg, rgb(187, 182, 179), rgb(185, 180, 177) 100%);
				padding: 0 10px 20px 10px;
			}
			@media only screen and (max-width: 639px) {
				padding: 0 5px 20px 5px;
			}
			.inner {
				.title {
					font-size: 40px;
					font-weight: 600;
					line-height: 51px;
					margin-bottom: 20px;
					max-width: 470px;
					@media only screen and (max-width: 991px) {
						margin-top: 10px;
					}
					@media only screen and (max-width: 639px) {
						font-size: 20px;
						line-height: 26px;
						max-width: 290px;
					}
				}
				.img-wrap {
					display: none;
					@media only screen and (max-width: 991px) {
						display: block;
						margin: 0 -10px;
					}
				}
			}
		}
	}

	.collection-funds {
		display: flex;
		align-items: center;
		gap: 4px;
		span {
			display: block;
			width: 61px;
			min-width: 61px;
			height: 100px;
			position: relative;
			padding: 4px;
			background: #f5f6f8;
			border-radius: 8px;
			font-size: 48px;
			font-weight: 500;
			line-height: 46px;
			display: flex;
			align-items: center;
			justify-content: center;
			@media only screen and (max-width: 639px) {
				font-size: 36px;
				line-height: 46px;
				width: 37px;
				min-width: 37px;
				height: 61px;
			}
		}
	}

	.information-content {
		padding: 40px 0 65px 0;
		.container {
			position: relative;
			&::before {
				content: "";
				background: url(../img/hapai-page-friday/spiral-2.png) no-repeat center;
				background-size: contain;
				display: block;
				position: absolute;
				left: -410px;
				top: -120px;
				width: 900px;
				height: 900px;
				z-index: -1;
				@media only screen and (max-width: 1279px) {
					left: -50%;
				}
				@media only screen and (max-width: 991px) {
					content: unset;
				}
			}
		}
		.inner {
			display: flex;
			align-items: center;
			min-width: 0;
			@media only screen and (max-width: 991px) {
				flex-direction: column;
				gap: 40px;
			}
			.wrap-slider {
				width: 310px;
				// overflow: hidden;
				border-radius: 12px;
				@media only screen and (max-width: 991px) {
					width: 335px;
				}
			}
			.popups-slider {
				display: none;
				@media only screen and (max-width: 991px) {
					display: block;
					width: 100%;
				}
				.popups--item {
					.img-wrap {
						text-align: center;
						img {
							max-width: 210px;
							width: 100%;
							height: 210px;
							overflow: hidden;
							border-radius: 200px;
							margin-bottom: 25px;
						}
						.img-wrap--title {
							font-size: 24px;
							font-weight: 700;
							line-height: 28px;
							color: #000000;
							text-align: center;
							margin-bottom: 25px;
						}
					}
				}
			}
			.popups {
				position: relative;
				width: 70%;
				min-height: 560px;
				@media only screen and (max-width: 991px) {
					display: none;
				}
				.popups--item {
					width: max-content;
					position: absolute;
					transform: translate(-50%, -50%);
					&:nth-child(1) {
						left: 30%;
						top: 40%;
					}
					&:nth-child(2) {
						left: 65%;
						top: 20%;
						@media only screen and (max-width: 1279px) {
							left: 75%;
						}
						.img-wrap {
							img {
								max-width: 160px;
								height: 160px;
								margin-bottom: 15px;
							}
						}
					}
					&:nth-child(3) {
						left: 60%;
						top: 80%;
						@media only screen and (max-width: 1279px) {
							left: 70%;
						}
						.img-wrap {
							img {
								max-width: 200px;
								height: 200px;
								margin-bottom: 10px;
							}
						}
					}
					&:hover {
						.img-wrap {
							scale: 1.05;
						}
					}
					.img-wrap {
						transition: all 0.5s;
						max-width: 270px;
						text-align: center;
						img {
							max-width: 210px;
							width: 100%;
							height: 210px;
							overflow: hidden;
							border-radius: 200px;
							margin-bottom: 25px;
						}
						.img-wrap--title {
							font-size: 24px;
							font-weight: 700;
							line-height: 28px;
							color: #000000;
							text-align: center;
						}
					}
				}
			}
		}
	}
	.how-works-with-arrow {
		padding: 0;
		padding-bottom: 130px;
		@media only screen and (max-width: 639px) {
			padding-bottom: 65px;
		}
		.title {
			font-size: 48px;
			font-weight: 500;
			line-height: 46px;
			text-align: center;
			margin-bottom: 85px;
			@media only screen and (max-width: 1279px) {
				margin-bottom: 55px;
			}
			@media only screen and (max-width: 991px) {
				text-align: left;
			}
			@media only screen and (max-width: 639px) {
				font-size: 32px;
				line-height: 44px;
				margin-bottom: 30px;
			}
		}
		.how-works-with-arrow__three .how-works-with-arrow__wrap {
			padding: 0;
			.how-works-with-arrow__item {
				padding: 35px 60px 35px 60px;
				transition: all 0.5s;
				@media only screen and (max-width: 1279px) {
					padding: 35px 30px 35px 30px;
				}
				&:nth-child(2n)::after {
					top: -60px;
					right: -75px;
					@media only screen and (max-width: 1279px) {
						top: -30px;
						right: -55px;
						width: 65px;
					}
					@media only screen and (max-width: 992px) {
						top: unset;
						width: 65px;
						right: unset;
						bottom: -40px;
						left: 0;
						transform: rotate(90deg) scale(1, -1);
					}
				}
				&:nth-child(2n + 1)::after {
					transform: unset;
					top: -60px;
					right: -75px;
					@media only screen and (max-width: 1279px) {
						top: -30px;
						right: -55px;
						width: 65px;
					}
					@media only screen and (max-width: 992px) {
						top: unset;
						right: 0px;
						bottom: -40px;
						left: unset;
						transform: rotate(90deg) scale(1, 1);
					}
				}
				&:hover {
					background: #6667ab;
					color: #ffffff;
				}
			}
		}
	}
	.collection-results {
		padding-bottom: 120px;
		@media only screen and (max-width: 991px) {
			padding-bottom: 70px;
		}
		.title {
			font-size: 36px;
			font-weight: 500;
			line-height: 46px;
			margin-bottom: 35px;
			@media only screen and (max-width: 639px) {
				font-size: 29px;
				font-weight: 500;
				line-height: 42px;
			}
		}
		.collection-results__wrap {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 80px;
			.collection-results__item {
				width: calc((100% - 80px * 2) / 3);
				max-width: 420px;
				border-radius: 12px;
				background: linear-gradient(180deg, rgb(78, 79, 141), rgb(127, 129, 212) 100%);
				color: #ffffff;
				height: 475px;
				position: relative;
				text-align: center;
				padding: 42px 28px 28px 28px;
				@media only screen and (max-width: 1279px) {
					width: calc((100% - 80px) / 2);
				}
				@media only screen and (max-width: 1279px) {
					width: 100%;
				}
				.img-wrap__title {
					font-size: 36px;
					font-weight: 500;
					line-height: 36px;
					margin-bottom: 15px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				.img-wrap__count {
					font-size: 150px;
					font-weight: 700;
					line-height: 111px;
				}
				.img-wrap__title,
				.img-wrap__count {
					position: relative;
					z-index: 2;
				}
				.img-wrap {
					position: absolute;
					bottom: -50px;
					left: 50%;
					transform: translateX(-50%);
					@media only screen and (max-width: 639px) {
						transform: translateX(-50%) scale(0.9);
					}
				}
				&:nth-child(1) {
					.img-wrap {
						width: 365px;
						height: 235px;
					}
				}
				&:nth-child(2) {
					.img-wrap {
						width: 260px;
						height: 260px;
					}
				}
				&:nth-child(3) {
					.img-wrap {
						width: 210px;
					}
				}
			}
		}
	}
	.our-proofs {
		margin: 0;
		padding-bottom: 80px;
		@media only screen and (max-width: 639px) {
			padding-bottom: 45px;
		}
		.preview-video {
			border-radius: 12px;
			overflow: hidden;
			width: 100%;
			height: 240px;
			@media only screen and (max-width: 1279px) {
				height: 170px;
			}
			@media only screen and (max-width: 639px) {
				height: 240px;
			}
			@media only screen and (max-width: 479px) {
				height: 185px;
			}
		}
		.our-proofs__swiper-wrap {
			display: flex;
			gap: 25px;
			@media only screen and (max-width: 1279px) {
				justify-content: center;
				flex-wrap: wrap;
			}
			.wrap {
				width: calc((100% - 25px * 2) / 3);
				@media only screen and (max-width: 1279px) {
					width: calc((100%) / 3);
				}
				@media only screen and (max-width: 1279px) {
					width: 50%;
				}
				&.pdf-download {
					@media only screen and (max-width: 639px) {
						display: none;
					}
					.inner {
						column-gap: 25px;
						background: #000 url(../img/hapai-page-friday/bg-pdf.png) no-repeat center;
						background-size: cover;
						padding: 10px;
						border-radius: 12px;
						position: relative;
						display: flex;
						align-items: center;
						justify-content: center;
						height: 100%;
						@media only screen and (max-width: 1279px) {
							height: 170px;
						}
						img {
							width: 65px;
							height: 65px;
							object-fit: cover;
						}
						.pdf-title {
							font-size: 24px;
							font-weight: 600;
							line-height: 26px;
							display: flex;
							flex-direction: column;
							color: #ffffff;
							span {
								font-size: 32px;
								line-height: 36px;
							}
						}
					}
				}
			}
		}
		.our-proofs__swiper {
			@media only screen and (max-width: 1279px) {
				max-width: 720px;
			}
			.slide-pdf {
				display: none;
				@media only screen and (max-width: 639px) {
					display: flex;
				}
				.wrap {
					&.pdf-download {
						display: block;
						width: 100%;
						.inner {
							height: 100%;
						}
					}
				}
			}
		}
	}
	.project-num {
		.title {
			font-size: 36px;
			font-weight: 500;
			line-height: 46px;
			margin-bottom: 25px;
			@media only screen and (max-width: 639px) {
				font-size: 29px;
				font-weight: 500;
				line-height: 42px;
			}
		}
		.project-num--main {
			background: #000 url(../img/hapai-page-friday/bg-work-help.jpeg) no-repeat center;
			background-size: cover;
			padding: 70px 75px;
			border-radius: 30px;
			position: relative;
			overflow: hidden;
			@media only screen and (max-width: 639px) {
				padding: 45px 25px;
			}
			.inner {
				display: flex;
				flex-wrap: wrap;
				column-gap: 40px;
				row-gap: 25px;
				.project-num-item {
					color: #fff;
					width: calc((100% - 40px * 3) / 4);
					@media only screen and (max-width: 1279px) {
						width: calc((100% - 40px) / 2);
					}
					@media only screen and (max-width: 992px) {
						width: 100%;
					}
					&:nth-child(1),
					&:nth-child(2) {
						@media only screen and (min-width: 993px) {
							width: calc((100% - 40px) / 2);
						}
					}
					.heading {
						font-size: 70px;
						font-weight: 700;
						line-height: 75px;
						margin-bottom: 18px;
						@media only screen and (max-width: 1279px) {
							font-size: 60px;
							line-height: 65px;
						}
						@media only screen and (max-width: 639px) {
							font-size: 50px;
							line-height: 55px;
						}
						@media only screen and (max-width: 639px) {
							font-size: 40px;
							line-height: 45px;
						}
					}
					.descrp {
						font-size: 20px;
						font-weight: 400;
						line-height: 24px;
						max-width: 385px;
					}
				}
			}
		}
	}
}
.popup-content-information {
	.title {
		font-size: 24px;
		font-weight: 700;
		line-height: 28px;
	}
	.popup__content {
		max-width: 570px;
	}
	p {
		font-size: 16px;
		line-height: 24px;
	}
	ul {
		li {
			position: relative;
			padding-left: 20px;
			font-size: 16px;
			line-height: 24px;
			&:not(:last-child) {
				margin-bottom: 4px;
			}
			&::before {
				content: "";
				position: absolute;
				left: 0px;
				top: 6px;
				width: 14px;
				height: 14px;
				background: #777777;
			}
		}
	}
}

.swiper-pagination {
	position: relative;
	bottom: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 11px;
	top: unset !important;
	bottom: unset !important;
	left: unset !important;
	.swiper-pagination-bullet {
		background: #d9d9d9;
		opacity: 1;
		border: unset;
		width: 12px;
		height: 12px;
		margin: 0 !important;
		&.swiper-pagination-bullet-active {
			width: 12px;
			height: 12px;
			border: unset;
			position: relative;
			&::before {
				content: "";
				background: #787878;
				width: 12px;
				height: 12px;
				position: absolute;
				border-radius: 50%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.before-after__swiper {
	height: 100%;
	position: relative;
	.swiper-slide {
		.before-after--wrap {
			height: 100%;
			position: relative;
			img {
				height: 490px;
				overflow: hidden;
				border-radius: 12px;
				object-fit: cover;
				margin-bottom: 15px;
			}
			.descrp {
				font-size: 20px;
				font-weight: 700;
				line-height: 24px;
				text-align: center;
				margin-bottom: 12px;
			}
		}
	}
	.swiper__buttons {
		display: flex;
		align-items: center;
		position: relative;
		width: 100%;
		.btn__swiper-prev,
		.btn__swiper-next {
			position: relative;
			min-width: 40px;
			z-index: 2;
			top: unset;
			transform: unset;
			border-radius: 50%;
			border-color: #6667ab;
			background: #fff;
			transition: all 0.5s;
			&::before {
				color: #6667ab;
				transition: all 0.5s;
			}
			&:hover {
				border-color: #d45279;
				&::before {
					color: #d45279;
				}
			}
		}
	}
	.swiper__navigation {
		position: relative;
	}
}
.grid-gallery {
	padding-bottom: 100px;
	.title {
		font-size: 36px;
		font-weight: 500;
		line-height: 46px;
		margin-bottom: 40px;
		@media only screen and (max-width: 639px) {
			font-size: 29px;
			line-height: 42px;
			margin-bottom: 50px;
		}
	}
	.gallery-grid--swiper {
		position: relative;
		overflow: hidden;
		margin: 0 -20px;
		width: 1440px;
		.swiper-wrapper {
			transition-timing-function: linear;
		}
	}
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr); /* 12 колонок */
	grid-template-rows: auto; /* Висота кожного ряду автоматична */
	gap: 10px; /* Проміжки між елементами */
	width: 1400px; /* Ширина сітки */
	margin: 0 auto; /* Центрування сітки */
}

/* Стиль для кожного блоку */
.item {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	overflow: hidden;
	border-radius: 12px;
	position: relative;
	&:hover {
		.wrap-img {
			img {
				scale: 1.1;
			}
		}
	}
	.wrap-img {
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			min-width: 101%;
			min-height: 101%;
			object-fit: cover;
			transition: all 0.5s;
		}
	}
	.item-label {
		border-radius: 4px 0px 0px 4px;
		background: rgb(255, 255, 255);
		position: absolute;
		bottom: 12px;
		right: 0;
		z-index: 2;
		font-size: 13px;
		font-weight: 500;
		line-height: 16px;
		padding: 7px 11px;
	}
}

/* Верхній ряд — 5 блоків */
.item1 {
	grid-column: 1 / span 3; /* Займає 3 колонки */
	grid-row: span 10; /* Займає 10 рядків */
	min-width: 150px;
	max-width: 225px;
	height: 240px;
}

.item2 {
	grid-column: 4 / span 2; /* Займає 2 колонки */
	grid-row: span 10; /* Займає 15 рядків */
	min-width: 100px;
	max-width: 220px;
	height: 150px;
	margin-top: 15px;
}

.item3 {
	grid-column: 6 / span 3; /* Займає 3 колонки */
	grid-row: span 10; /* Займає 20 рядків */
	width: 185px;
	height: 120px;
	margin-left: 50px;
	margin-top: 30px;
}

.item4 {
	grid-column: 9 / span 2; /* Займає 2 колонки */
	grid-row: span 5; /* Займає 5 рядків */
	width: 175px;
	height: 210px;
	margin-left: auto;
}

.item5 {
	grid-column: 11 / span 2; /* Займає 2 колонки */
	grid-row: span 2; /* Займає 2 рядки */
	width: 175px;
	height: 130px;
	margin-left: auto;
	margin-top: 30px;
}

/* Нижній ряд — 6 блоків */
.item6 {
	grid-column: 1 / span 2; /* Займає 2 колонки */
	grid-row: span 3; /* Займає 3 рядки */
	width: 135px;
	height: 110px;
	margin-left: auto;
}

.item7 {
	grid-column: 3 / span 2; /* Займає 2 колонки */
	grid-row: span 8; /* Займає 8 рядків */
	width: 175px;
	height: 235px;
	margin-top: -70px;
	margin-left: 30px;
}
.item8 {
	grid-column: 5 / span 2; /* Займає 2 колонки */
	grid-row: span 6; /* Займає 6 рядків */
	width: 175px;
	height: 130px;
	margin-top: -55px;
	margin-left: 15px;
}

.item9 {
	grid-column: 7 / span 2; /* Займає 2 колонки */
	grid-row: span 8; /* Займає 8 рядків */
	width: 190px;
	height: 260px;
	margin-top: -95px;
}

.item10 {
	grid-column: 9 / span 2; /* Займає 2 колонки */
	grid-row: span 5; /* Займає 5 рядків */
	width: 195px;
	height: 110px;
}

.item11 {
	grid-column: 11 / span 2;
	grid-row: span 4;
	width: 200px;
	height: 235px;
	margin-left: auto;
	margin-top: -85px;
}

//////
///

.before-after-slider {
	width: 100%;
	position: relative;
	overflow: hidden;
	border: 3px solid white;
}

.after-image {
	display: block;
}

.before-image {
	position: absolute;
	height: 100%;
	width: 50%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 2;
}

.resizer {
	position: absolute;
	display: flex;
	align-items: center;
	z-index: 5;
	top: 0;
	left: 50%;
	height: 100%;
	width: 3px;
	background: white;
	/*Stop vertical scrolling on touch*/
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	cursor: grab;
}

.resizer {
	&::after,
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		width: 11px;
		height: 26px;
		background: url(../img/icons/icons.svg#triangle-before-after) 50% 50% no-repeat;
		background-size: 100%;
	}
	&::after {
		right: 7px;
	}
	&::before {
		transform: translateY(-50%) rotate(180deg);
		left: 7px;
	}
	.swiper__buttons {
	}
}

@media (max-width: 767px) {
	.container {
		width: 100%;
		padding: 0 20px;
	}
}

.top-banner__wrap {
	&.black-friday {
		background: #000 url(../img/hapai-page-friday/top-bg-down.jpeg) no-repeat center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 140px 40px;
		display: flex;
		@media only screen and (max-width: 1279px) {
			flex-direction: column-reverse;
			justify-content: center;
		}
		@media only screen and (max-width: 479px) {
			padding-top: 0;
		}
		.form-leasing-main {
			width: 100%;
			@media only screen and (max-width: 1279px) {
				margin: 0 auto;
				max-width: 600px;
			}
		}
		.wrapping {
			@media only screen and (max-width: 479px) {
				margin: 0 -40px;
			}
		}
		.img-wrap {
			position: static;
			max-width: 100%;
			width: 100%;
			margin-left: 30px;
			transform: unset;
			@media only screen and (max-width: 1279px) {
				margin: 0 auto;
				margin-bottom: 40px;
				max-width: 840px;
			}
			@media only screen and (max-width: 991px) {
				display: block;
			}
			@media only screen and (max-width: 767px) {
				// max-width: 400px;
				// margin: 0 auto;
			}
			@media only screen and (max-width: 639px) {
				// max-height: 530px;
			}
			img {
				object-fit: cover;
				&.mob {
					display: none;
				}
				@media only screen and (max-width: 479px) {
					&.desk {
						display: none;
					}
					&.mob {
						display: block;
					}
				}
			}
		}
	}
}
